<% layout("layout/boilerplate") -%>
<h1>All locations</h1>
<br />
<a href="/locations/new">Add new location</a>
<br />
<% for(let location of locations){ %>
<section>
  <h2><a href="/locations/<%=location._id  %>"><%=location.title %></a></h2>
  <p><%=location.city %>,<%=location.state %>,<%=location.country %></p>
  <p>Date Visited:<%=location.dateOfVisit %></p>
  <p>Description:<%=location.description %></p>
  <p>Rating: <%=location.rating %></p>
</section>
<hr />
<% } %>
