<% layout("layout/boilerplate") -%>
<h1 class="display-4 text-center text-primary">All locations</h1>

<% for(let location of locations){ %>
<section>
  <h2 class="display-6">
    <a href="/locations/<%=location._id  %>"><%=location.title %></a>
  </h2>
  <p><%=location.city %>,<%=location.state %>,<%=location.country %></p>
  <p>Date Visited:<%=location.dateOfVisit %></p>
  <p>Description:<%=location.description %></p>
  <p>Rating: <%=location.rating %></p>
</section>
<hr />
<% } %>
