<% layout("./layout/boilerplate") -%>

<section>
  <h2 class="display-4 mb-3"><%=location.title %></h2>
  <p class="mb-2 text-muted">
    <%=location.city %>,<%=location.state %>,<%=location.country %>
  </p>
  <p>Date Visited:<%=location.dateOfVisit %></p>
  <p>Description:<%=location.description %></p>
  <p>Rating: <%=location.rating %></p>
</section>
<div class="d-flex align-items-center justify-content-center mb-4">
  <a
    class="btn btn-lg btn-success me-2 w-50"
    href="/locations/<%=location._id  %>/edit"
    >Edit Location</a
  >
  <br />
  <form
    action="/locations/<%=location._id%>?_method=DELETE"
    method="post"
    class="w-50"
  >
    <button type="submit" class="btn btn-lg btn-danger btnNew w-100">
      Delete Location
    </button>
  </form>
</div>

<a href="/locations">Back to all locations</a>
<br />
<a href="/locations/new">Add new location</a>
